// out: ../css/style.min.css, compress: true

// Основной контейнер
@container-width: 720px;

// Ширина платежной формы
@payform-container-width: 420px;

// Ширина формы редактора вкладок оплаты
@editform-container-width: 460px;

// Ширина формы настроек приложения
@setup-container-width: 460px;

// Ширина формы погашения промо-кода
@promocode-container-width: 420px;


// Алерты и тултипы
@alert-red-background: #e7c3c3;
@alert-red-border: #dca7a7;
@alert-red-text: #a94442;

@alert-green-background: #c8e5bc;
@alert-green-border: #b2dba1;
@alert-green-text: #3c763d;

@alert-blue-background: #b9def0;
@alert-blue-border: #9acfea;
@alert-blue-text: #31708f;

// Тарифные ограничения
@tabtitle-exceed: @alert-red-text;    /* #c80000 */


@import "style.less";
