{# Формирует параметры посетителей и визитов Метрики для страниц, где в шаблон передаются vkdata и settings #}
{% set ym_is_admin = (vkdata.is_admin ? 'yes' : 'no') %}
<script type="text/javascript">
var userdata = {userid: "{{vkdata.uid}}", username: "{{vkdata.screen_name}}", group: "{{vkdata.gid}}", is_admin: "{{ym_is_admin}}"};
var visitdata = {group: "{{vkdata.gid}}", is_admin: "{{ym_is_admin}}", referrer: "{{vkdata.referrer}}", refgid: "{{settings.refgid}}"};
</script>
