{% if vkdata.is_admin %}
<div class="menu-container">
    <div class="btn-group btn-group-justified">
        <div class="btn-group">
            <a class="btn btn-vklight" role="button" href="/">Просмотр</a>
        </div>
        <div class="btn-group">
            <a class="btn btn-vklight" role="button" href="/tabedit">Конструктор</a>
        </div>
        
        {% if (environment == 'development') or ((environment == 'production') and billing) %}
            <div class="btn-group">
                <a class="btn btn-vklight" role="button" href="/rates">Тарифы</a>
            </div>
            <div class="btn-group">
                <a class="btn btn-vklight" role="button" href="/reward">Оплата</a>
            </div>
        {% endif %}
        
        <div class="btn-group">
            <a class="btn btn-vklight" role="button" href="/setup">Настройки</a>
        </div>
    </div>
</div>
{% endif %}
