<div class="editform-container">
    <div class="row">
        <div class="col-xs-12">

            <div class="panel panel-primary topindent">
                <div class="panel-heading">Настройка формы оплаты для этой вкладки</div>
                <div class="panel-body">
                    <form role="form" id="form_tabedit{{mixid}}" action="javascript:void(null);" onsubmit="SendTabEdit('{{mixid}}');" data-toggle="validator">
                        <input type="hidden" name="{{csrf.name}}" value="{{csrf.hash}}">
                        <input type="hidden" name="tid" value="{{thistab.tid}}">
                        <input type="hidden" name="parenttid" value="{{thistab.parenttid}}">
                        {% if settings.ttmode == 'tabs' %}
                            <div class="form-group">
                                <label class="control-label" for="toptext{{mixid}}">Текст сверху над формой оплаты</label>
                                <textarea class="form-control formtextsize" rows="3" name="toptext" id="toptext{{mixid}}" maxlength="{{tablimits.ttmax}}" data-error="Длина текста не должна превышать {{tablimits.ttmax}} знаков">{{thistab.toptext}}</textarea>
                                <div class="help-block with-errors"></div>
                            </div>
                        {% endif %}
                        <div class="form-group">
                            <label class="control-label" for="sum{{mixid}}">Сумма к оплате</label>
                            <input type="number" class="form-control" name="sum" id="sum{{mixid}}" value="{{thistab.sum}}" min="1" max="{{tablimits.maxsum}}" data-error="Укажите целую сумму в рублях, не более {{tablimits.maxsum}}р." required>
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="checkbox">
                            <label class="control-label" for="editsum{{mixid}}">
                                <input type="checkbox" name="editsum" id="editsum{{mixid}}" value="1" {{thistab.editsum ? 'checked'}} {{tablimits.optslock ? 'disabled'}}>
                                <div {{tablimits.optslock ? optslock_tooltip|raw}}>Разрешить плательщику изменить сумму</div>
                            </label>
                        </div>
                        <div class="checkbox">
                            <label class="control-label" for="paylock{{mixid}}">
                                <input type="checkbox" name="paylock" id="paylock{{mixid}}" value="1" {{thistab.paylock ? 'checked'}} {{tablimits.optslock ? 'disabled'}}>
                                <div {{tablimits.optslock ? optslock_tooltip|raw}}>Временно заблокировать кнопку оплаты</div>
                            </label>
                        </div>
                        {% if settings.btmode == 'tabs' %}
                            <div class="form-group">
                                <label class="control-label" for="bottomtext{{mixid}}">Текст снизу под формой оплаты</label>
                                <textarea class="form-control formtextsize" rows="3" name="bottomtext" id="bottomtext{{mixid}}" maxlength="{{tablimits.btmax}}" data-error="Длина текста не должна превышать {{tablimits.btmax}} знаков">{{thistab.bottomtext}}</textarea>
                                <div class="help-block with-errors"></div>
                            </div>
                        {% endif %}
                        <div class="form-group">
                            <label class="control-label" for="yanote{{mixid}}">Комментарий к платежу</label>
                            <input type="text" class="form-control formtextsize" id="yanote{{mixid}}" value="{{ (settings.yanote == 'off') or (settings.yanote == 'custom') ? yanotes.formedit[settings.yanote] : thistab[settings.yanote] }}" disabled>
                        </div>
                        <div class="text-center">
                            <button type="submit" id="submit_tabedit{{mixid}}" class="btn btn-vk">Сохранить изменения</button>
                        </div>
                    </form>
                </div>
            </div>

        </div> <!-- /col -->
    </div> <!-- /row -->
</div> <!-- /editform-container -->
