{# В атрибуте 'data-ct' хранится время куки в секундах для js-обработчика #}
{% if alerts|length > 0 %}
<div class="row">
    <div class="col-xs-12">
        {% for alert in alerts %}
        {% if alert|length > 0 %}  
            <div class="alert alert-{{alert.type}} {{alert.close ? 'alert-dismissable'}} text-center softangles" {{alert.id ? ('id="'~alert.id~'"')|raw}} {{alert.cookietime is defined ? ('data-ct="'~alert.cookietime~'"')|raw}}>
                {% if alert.close %}
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                {% endif %}
                {{alert.text|raw}}
            </div>
        {% endif %}
        {% endfor %}
    </div>
</div>
{% endif %}
