<div class="editcontrolform-container">
    <div class="row gutter5px">

        <div class="col-xs-7">
            <form role="form" id="form_tabtitle{{mixid}}" action="javascript:void(null);" onsubmit="SendTabTitle('{{mixid}}');" data-toggle="validator">
                <div class="input-group input-group-sm">
                    <input type="hidden" name="{{csrf.name}}" value="{{csrf.hash}}">
                    <input type="hidden" name="tid" value="{{thistab.tid}}">
                    <input type="hidden" name="parenttid" value="{{thistab.parenttid}}">
                    <span class="input-group-addon condensed">Заголовок:</span>
                    <input type="text" class="form-control" name="title" id="title{{mixid}}" value="{{thistab.title}}" minlength="{{tablimits.mintitle}}" maxlength="{{tablimits.maxtitle}}" required>
                    <span class="input-group-btn">
                        <button type="submit" id="submit_tabtitle{{mixid}}" class="btn btn-default">Ок</button>
                    </span>
                </div>
            </form>
        </div>

        <div class="col-xs-5">
            <div class="btn-group btn-group-sm">
                <button type="button" id="button_tabcontrol{{mixid}}" class="btn btn-default dropdown-toggle condensed" data-toggle="dropdown">Действия со вкладками <span class="caret"></span></button>
                <ul class="dropdown-menu text-left formtextsize" role="menu">

                    {% if qtytabs < tablimits.maxtabs %}
                        {% if thistab.tid == 1 %}
                            <li> <a href="#" onclick="SendTabControl('addleft_{{mixid}}_{{csrf.hash}}', '{{mixid}}');">Добавить новую вкладку слева</a> </li>
                        {% endif %}
                        <li> <a href="#" onclick="SendTabControl('addright_{{mixid}}_{{csrf.hash}}', '{{mixid}}');">Добавить новую вкладку справа</a> </li>
                    {% endif %}

                    {% if (not parent.child and thistab.parenttid == 0) or (thistab.parenttid > 0) %}
                        <li> <a href="#" onclick="SendTabControl('deltab_{{mixid}}_{{csrf.hash}}', '{{mixid}}');">Удалить вкладку и её содержимое</a> </li>
                    {% endif %}

                    {% if thistab.parenttid == 0 %}
                        <li class="divider"></li>
                        {% if parent.child %}
                            <li> <a href="#" onclick="SendTabControl('dellvl_{{mixid}}_{{csrf.hash}}', '{{mixid}}');">Удалить вложенный уровень</a> </li>
                        {% else %}
                            <li> <a href="#" onclick="SendTabControl('addlvl_{{mixid}}_{{csrf.hash}}', '{{mixid}}');">Добавить вложенный уровень</a> </li>
                        {% endif %}
                    {% endif %}

                </ul>
            </div>
        </div>

    </div> <!-- /row -->
</div> <!-- /editcontrolform-container -->
