<div class="payform-container">
    <div class="row">
        <div class="col-xs-12">

            {% if ((settings.ttmode == 'main') and settings.toptext) or ((settings.ttmode == 'tabs') and thistab.toptext) %}
                <div class="panel panel-default topindent softangles">
                    <div class="panel-body text-muted">
                        <p>
                            {% if settings.ttmode == 'tabs' %}
                                {{thistab.toptext|raw}}
                            {% else %}
                                {{settings.toptext|raw}}
                            {% endif %}
                        </p>
                    </div>
                </div>
            {% endif %}

            <div class="panel panel-default topindent softangles">
                <div class="panel-body payform-panel-padding">
                    <p class="payform-title">{{thistab.mixtitle}}</p>

                    <form role="form-horizontal" method="POST" action="https://money.yandex.ru/quickpay/confirm.xml" target="_blank">
                        <input type="hidden" name="receiver" value="{{settings.yapurse}}">
                        <input type="hidden" name="quickpay-form" value="shop">
                        {# <!-- input type="hidden" name="formcomment" value="{{thistab.target}}" --> #}
                        <input type="hidden" name="short-dest" value="{{thistab.target}}">
                        <input type="hidden" name="targets" value="{{thistab.target}}">
                        <input type="hidden" name="label" value="{{vkdata.uid}}">
                        <input type="hidden" name="successURL" value="{{thanks_url}}?userid={{vkdata.uid}}&group={{vkdata.gid}}&amount={{thistab.sum}}&referrer={{vkdata.referrer}}&comment={{thistab.paynote1|url_encode}}">

                        {% if settings.yanote == 'custom' %}
                            <div class="form-group"> 
                                <label class="control-label payform-label" for="comment{{mixid}}">Комментарий к платежу</label>
                                <input type="text" class="form-control formtextsize softangles" name="comment" id="comment{{mixid}}" value="" maxlength="200" placeholder="Ваш комментарий (необязательно)">
                            </div>
                        {% else %}
                            <input type="hidden" name="comment" value="{{ settings.yanote == 'off' ? '' : thistab[settings.yanote] }}">
                        {% endif %}

                        {% if not thistab.editsum %}
                            <input type="hidden" name="sum" value="{{thistab.sum}}" data-type="number">
                        {% endif %}
                        <div class="form-group nogutter payform-topindent">
                            <label class="control-label payform-label col-xs-12" for="paysum{{parent.tid}}-{{child.tid}}">Сумма</label>
                            <div class="col-xs-3">
                                <input type="text" class="form-control softangles" id="paysum{{parent.tid}}-{{child.tid}}" value="{{thistab.sum}}" 
                                {{ thistab.editsum ? 'name="sum"' : 'disabled' }}>
                            </div>
                            <div class="col-xs-9"><p class="payform-roubles">руб.</p></div>
                        </div>
                        <div class="clearfix"></div>

                        <p class="payform-label payform-topindent">Выберите способ оплаты</p>
                        <div class="yandex-paytype">
                            <input type="radio" id="yapayAC{{mixid}}" name="paymentType" value="AC" title="Оплата картой" checked="">
                            <label class="yandex-paytype-card" for="yapayAC{{mixid}}" title="Оплата картой"></label>

                            <input type="radio" id="yapayPC{{mixid}}" name="paymentType" value="PC" title="Оплата Яндекс.Деньгами">
                            <label class="yandex-paytype-money" for="yapayPC{{mixid}}" title="Оплата Яндекс.Деньгами"></label>

                            <input type="radio" id="yapayMC{{mixid}}" name="paymentType" value="MC" title="Оплата со счета телефона">
                            <label class="yandex-paytype-phone" for="yapayMC{{mixid}}" title="Оплата со счета телефона"></label>
                        </div>

                        <div class="payform-topindent">
                            <button type="submit" class="btn btn-default yasendbutton" 
                            {{ thistab.paylock or (thistab.sum == 0) or (not settings.yapurse) ? 'disabled' }}>{{settings.yabutton}}</button>
                        </div>
                    </form>

                </div>
            </div>

        </div> <!-- /col -->
    </div> <!-- /row -->
</div> <!-- /payform-container -->

{% if ((settings.btmode == 'main') and settings.bottomtext) or ((settings.btmode == 'tabs') and thistab.bottomtext) %}
<div class="row">
    <div class="col-xs-12">
        <p class="text-muted">
            {% if settings.btmode == 'tabs' %}
                {{thistab.bottomtext|raw}}
            {% else %}
                {{settings.bottomtext|raw}}
            {% endif %}
        </p>
    </div>
</div>
{% endif %}
