<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Универсальная касса</title>
    {% include 'header.std.twig' %}
    <script type="text/javascript"> {% include 'resizewindow.min.js' %} </script>
</head>

<body>
    <div class="promo-wrapper">

        <div class="promo-header">
            <div class="promo-header-logo"></div>
            <div class="promo-header-text">
                <div class="promo-header-title">Приложение «Универсальная касса»</div>
                <div class="promo-header-subtitle">Принимайте оплату в сообществе за любые Ваши услуги.</div>
            </div>
        </div>
        <div class="promo-intro">
            <div class="promo-intro-wrapper">
                <p>Приложение позволяет принимать оплату в сообществе за любые Ваши услуги. </p>
                <p>Настраивайте по своему вкусу множество платёжных форм для разных Ваших услуг, добавляйте подробное описание к каждой форме, если необходимо.</p>
                <p>Принимайте платежи клиентов с пластиковых карт, Яндекс.Денег, со счёта телефона.</p>
                <img class="promo-intro-payment-logo" src="images/payment-logo.png" />
                <a class="btn btn-vk" href="https://vk.com/add_community_app?aid=6088074" target="_blank">Подключить приложение</a>
            </div>
            <hr />
        </div>
        <div class="promo-item">
            <div class="promo-item-wrapper">
                <div class="promo-item-text">
                    <div class="promo-item-title">1. Основные настройки</div>
                    <p>Задайте основные настройки приложения: Яндекс.Кошелёк, на который Вы будете принимать платежи, текст на кнопке оплаты, формат примечания к платежу, чтобы было легко узнать, кто и за что Вам заплатил.</p>
                    <img src="images/screenshot01.png" class="img-responsive" width="500" heigh="330" />
                </div>
            </div>
        </div>
        <div class="promo-item">
            <div class="promo-item-wrapper">
                <div class="promo-item-text">
                    <div class="promo-item-title">2. Информация для плательщика</div>
                    <p>Укажите подробную информацию для плательщика, которая будет показываться сверху и снизу каждой платёжной формы с Вашими услугами. Это может быть один общий текст или разное содержание для каждой услуги. Здесь можно написать, например, что именно оплачивается, правила предоставления услуг или другие сведения на Ваше усмотрение.</p>
                </div>
            </div>
        </div>
        <div class="promo-item">
            <div class="promo-item-wrapper">
                <div class="promo-item-text">
                    <div class="promo-item-title">3. Настройте вкладки с описанием услуг</div>
                    <p>Конструктор вкладок оплаты позволяет создать двухуровневое «дерево» с платёжными формами. Создайте общие разделы на первом уровне и конкретные предложения услуг на втором (вложенном) уровне вкладок. На каждой вкладке укажите сумму к оплате, а также дополнительные параметры для Вашего удобства.</p>
                    <img src="images/screenshot03.png" class="img-responsive" width="500" heigh="500" />
                </div>
            </div>
        </div>
        <div class="promo-item">
            <div class="promo-item-wrapper">
                <div class="promo-item-text">
                    <div class="promo-item-title">4. Как это выглядит для пользователя?</div>
                    <p>Запустивший приложение пользователь увидит созданную Вами структуру вкладок, только с готовыми формами оплаты. В режиме предварительного просмотра можно увидеть, как Вы настроили приложение. Переключите приложение в рабочий режим (красно-зеленая кнопка) и всё готово - можно принимать платежи!</p>
                    <img src="images/screenshot05.png" class="img-responsive" width="500" heigh="400" />
                </div>
            </div>
            <hr />
        </div>
        <div class="promo-item">
            <div class="promo-item-wrapper">
                <div class="promo-item-text">
                    <p>Что-то пошло не так или нашли ошибку?<br />
                    Напишите нам:&nbsp;<a href="https://vk.com/thinkapps" target="_blank">vk.com/thinkapps</a></p>
                </div>
            </div>
        </div>

    </div> <!-- /container -->

{% include 'footer.std.twig' %}
{% include 'inc.metrika.twig' %}

</body>
</html>