<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Тарифы приложения</title>
    {% include 'header.admin.twig' %}
    <script type="text/javascript">{% include 'resizewindow.min.js' %}</script>
    <script type="text/javascript">{% include 'alerts.min.js' %}</script>
    <script type="text/javascript">{% include 'notifyconfig.min.js' %}</script>
    <script type="text/javascript">{% include 'rates.min.js' %}</script>
</head>

<body>
    {% include 'inc.navbar.twig' %}

    <div class="container">

        {% include 'inc.alerts.twig' %}
        
        <div class="row">
            <div class="col-xs-12">

                {% if billing or (balance > 0) %}
                    <div class="pull-right">
                        <p>Ваш баланс: <span id="balance" class="{{balance < (billing ? nextprice : 0) ? 'text-danger'}}">{{balance}}р.</span></p>
                    </div>
                    <div class="clearfix"></div>
                {% endif %}

                {% if billing %}
                    <p>Вы используете тариф &laquo;<span id="plan-name">{{planset.name}}</span>&raquo; до <span id="plan-expiry">{{planset.planexpiry|date('d.m.Y')}}</span>.</p>
                {% else %}
                    <p>Платная подписка выключена, вы используете приложение без ограничений.</p>
                {% endif %}

                <hr />

                <form role="form" id="form_plan" data-toggle="validator"> 
                    <input type="hidden" name="{{csrf.name}}" value="{{csrf.hash}}">
                    <table class="table table-condensed">
                        <caption>Тарифы подписки на приложение</caption>
                        <tr class="warning">
                            <th>&nbsp;</th>
                            <th>Название тарифа</th>
                            <th class="text-center">Стоимость в мес.</th>
                            <th class="text-center">Макс. сумма оплаты на вкладках</th>
                            <th class="text-center">Макс. число вкладок</th>
                            <th class="text-center">Объем текста на вкладках, зн.</th>
                            <th class="text-center">Опции блокировки на вкладках</th>
                        </tr>

                        {% for id,item in plansheet %}
                            {% set tooltip = false %}
                            {% if billing %}
                                {% if (id == planset.plan) and (id == planset.nextplan) %}
                                    {% set tooltip = 'class="success tooltip-green" data-original-title="Ваш тариф сейчас и на следующий период"'%}
                                {% elseif id == planset.plan %}
                                    {% set tooltip = 'class="success tooltip-green" data-original-title="Ваш текущий тариф"' %}
                                {% elseif id == planset.nextplan %}
                                    {% set tooltip = 'class="info tooltip-blue" data-original-title="Ваш тариф на следующий период"' %}
                                {% endif %}
                            {% endif %}

                            <tr id="trid_{{id}}" {{tooltip|raw}} {{tooltip ? 'data-toggle="tooltip" data-placement="top"'}}>
                                <td>
                                    {% if billing and (id != trial_id) %}
                                    <div class="input-group">
                                        <label class="sr-only" for="radioid_{{id}}">{{item.name}}</label>
                                        <input type="radio" name="plan" id="radioid_{{id}}" value="{{id}}" {{id == planset.nextplan ? 'disabled' : 'required'}}>
                                    </div>
                                    {% endif %}
                                </td>
                                <td>
                                   <b>{{item.name}}</b>
                                </td>
                                <td class="text-center"><b>{{item.price > 0 ? item.price ~ 'р.' : '-'}}</b></td>
                                <td class="text-center">{{item.tabsum >= 999999 ? 'любая' : item.tabsum|number_format(0, '', ',') ~ 'р.'}}</td>
                                <td class="text-center">{{item.maxtabs}}</td>
                                <td class="text-center">{{item.ttmax}}&nbsp;/&nbsp;{{item.btmax}}</td>
                                <td class="text-center">{{item.optslock ? '-' : 'Да'}}</td>
                            </tr>
                        {% endfor %}
                    </table>

                    {% if billing %}
                    <div class="text-center">
                        <button type="submit" class="btn btn-vk">Изменить тариф</button>
                    </div>
                    {% endif %}
                </form>

            </div> <!-- /col -->
        </div> <!-- /row -->

        <hr />

    </div> <!-- /container -->

{% include 'footer.admin.twig' %}

{% include 'inc.vkdata-ym.twig' %}
{% include 'inc.metrika.twig' %}
 
</body>
</html>