<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Оплата подписки</title>
    {% include 'header.admin.twig' %}
    <script type="text/javascript">{% include 'resizewindow.min.js' %}</script>
    <script type="text/javascript">{% include 'alerts.min.js' %}</script>
    <script type="text/javascript">{% include 'notifyconfig.min.js' %}</script>
    <script type="text/javascript">{% include 'reward.min.js' %}</script>
</head>

<body>
    {% include 'inc.navbar.twig' %}

    <div class="container">

        {% include 'inc.alerts.twig' %}
        
        <div class="row">
            <div class="col-xs-12">

                {% if billing or (balance > 0) %}
                    <div class="pull-right">
                        <p>Ваш баланс: <span id="balance" class="{{balance < (billing ? nextprice : 0) ? 'text-danger'}}">{{balance}}р.</span></p>
                    </div>
                {% endif %}

                {% if billing and (balance < nextprice)%}
                    <div class="pull-left">
                        <p id="enought">Для оплаты выбранного тарифа не хватает {{nextprice - balance}}р.</p>
                    </div>
                {% endif %}
                
                <div class="clearfix"></div>
            </div>
        </div>
        
        <hr />

        <div class="promocode-container">
            <div class="row">
                <div class="col-xs-10 col-xs-offset-1">

                    <form role="form" id="form_promo" data-toggle="validator"> 
                        <input type="hidden" name="{{csrf.name}}" value="{{csrf.hash}}">
                        <div class="form-group text-center" id="promo-group"> 
                            <label class="control-label" for="codename">Если у вас есть промо-код, введите его здесь</label>
                            <input type="text" class="form-control " name="codename" id="codename" pattern="^[\w\d\-_]+$" minlength="{{promocode.minlen}}" maxlength="{{promocode.maxlen}}" data-error="Это некорректный промо-код.">
                            <div class="help-block with-errors" id="promo-message"></div>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-vk">Проверить</button>
                        </div>                             
                    </form>
                
                </div>
            </div>
        </div>
        
        <hr />

        <div class="payform-container">
            <div class="row">
                <div class="col-xs-12">

                    {% set sum = (balance < nextprice) ? (nextprice - balance) : 150 %}
                    
                    <div class="panel panel-default topindent softangles">
                        <div class="panel-body payform-panel-padding">
                            <p class="payform-title">{{reward.target}}</p>

                            <form role="form-horizontal" method="POST" action="https://money.yandex.ru/quickpay/confirm.xml" target="_blank" data-toggle="validator">
                                <input type="hidden" name="receiver" value="{{reward.yapurse}}">
                                <input type="hidden" name="quickpay-form" value="shop">
                                {# <!-- input type="hidden" name="formcomment" value="{{reward.target}}" --> #}
                                <input type="hidden" name="short-dest" value="{{reward.target}}">
                                <input type="hidden" name="targets" value="{{reward.target}}">
                                <input type="hidden" name="label" value="{{label}}">
                                <input type="hidden" name="successURL" value="{{thanks_url}}?group={{vkdata.gid}}">
                                <input type="hidden" name="comment" value="">

                                <div class="form-group nogutter payform-topindent">
                                    <label class="control-label payform-label col-xs-12" for="paysum">Сумма</label>
                                    <div class="col-xs-3">
                                        <input type="number" class="form-control softangles" id="paysum" min="{{reward.minsum}}" value="{{sum}}" name="sum" data-error="Минимальная сумма оплаты {{reward.minsum}}р." required>
                                    </div>
                                    <div class="col-xs-9"><p class="payform-roubles">руб.</p></div>
                                    <div class="col-xs-12"><div class="help-block with-errors"></div></div>
                                </div>
                                <div class="clearfix"></div>

                                <p class="payform-label payform-topindent">Выберите способ оплаты</p>
                                <div class="yandex-paytype">
                                    <input type="radio" id="yapayAC" name="paymentType" value="AC" title="Оплата картой" checked="">
                                    <label class="yandex-paytype-card" for="yapayAC" title="Оплата картой"></label>

                                    <input type="radio" id="yapayPC" name="paymentType" value="PC" title="Оплата Яндекс.Деньгами">
                                    <label class="yandex-paytype-money" for="yapayPC" title="Оплата Яндекс.Деньгами"></label>

                                    <input type="radio" id="yapayMC" name="paymentType" value="MC" title="Оплата со счета телефона">
                                    <label class="yandex-paytype-phone" for="yapayMC" title="Оплата со счета телефона"></label>
                                </div>

                                <div class="payform-topindent">
                                    <button type="submit" class="btn btn-default yasendbutton" {{ not label ? 'disabled' }}>Оплатить</button>
                                </div>
                            </form>

                        </div>
                    </div> <!-- /panel -->

                </div> <!-- /col -->
            </div> <!-- /row -->
        </div> <!-- /payform-container -->

    </div> <!-- /container -->

{% include 'footer.admin.twig' %}

{% include 'inc.vkdata-ym.twig' %}
{% include 'inc.metrika.twig' %}
 
</body>
</html>