<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Настройки приложения</title>
    {% include 'header.admin.twig' %}
    <script type="text/javascript">{% include 'resizewindow.min.js' %}</script>
    <script type="text/javascript">{% include 'alerts.min.js' %}</script>
    <script type="text/javascript">{% include 'notifyconfig.min.js' %}</script>
    <script type="text/javascript">{% include 'setup.min.js' %}</script>
</head>

<body>
    {% include 'inc.navbar.twig' %}

    <div class="container">

        {% include 'inc.alerts.twig' %}

        <div class="setup-container">
            <div class="row">
                <div class="col-xs-12">

                    <form role="form" id="form_appon">
                        <input type="hidden" name="{{csrf.name}}" value="{{csrf.hash}}">
                        <input type="hidden" name="appon" value="1">
                        <div id="form_appon_on" class="btn-group btn-group-xs pull-right {{ not settings.appon ? 'hidden' }}">
                            <button type="submit" class="btn btn-default">Выключить</button>
                            <button type="button" class="btn btn-success active">Включено&nbsp;</button>
                        </div>
                        <div id="form_appon_off" class="btn-group btn-group-xs pull-right {{ settings.appon ? 'hidden' }}">
                            <button type="button" class="btn btn-danger active">Выключено</button>
                            <button type="submit" class="btn btn-default">Включить&nbsp;</button>
                        </div>
                    </form>
                    <div class="clearfix"></div>

                    <div class="panel panel-primary topindent">
                        <div class="panel-heading">Платёжные настройки</div>
                        <div class="panel-body">
                            <form role="form" id="form_payinfo" data-toggle="validator"> 
                                <input type="hidden" name="{{csrf.name}}" value="{{csrf.hash}}">
                                <div class="form-group"> 
                                    <label class="control-label" for="yapurse">Номер Яндекс.Кошелька</label>
                                    <input type="text" class="form-control" name="yapurse" id="yapurse" value="{{settings.yapurse}}" placeholder="41001xxxxxxxxxxxx" pattern="^41001\d+$" minlength="{{yapurse.minlen}}" maxlength="{{yapurse.maxlen}}" data-error="Введите корректный № Яндекс.Кошелька">
                                    <div class="help-block with-errors"></div>
                                </div>
                                <div class="form-group"> 
                                    <label class="control-label" for="yabutton">Текст на кнопке оплаты</label>
                                    <input type="text" class="form-control " name="yabutton" id="yabutton" value="{{settings.yabutton}}" minlength="{{yabutton.minlen}}" maxlength="{{yabutton.maxlen}}" data-error="Длина текста должна быть от {{yabutton.minlen}} до {{yabutton.maxlen}} знаков." required>
                                    <div class="help-block with-errors"></div>
                                </div>
                                <div class="form-group"> 
                                    <label class="control-label" for="yanote">Примечание к платежу</label>              
                                    <select class="form-control formtextsize" name="yanote" id="yanote">
                                        {% for key, text in yanotes.formsetup %}
                                        <option value="{{key}}" {{ key == settings.yanote ? 'selected' }}>{{text}}</option>
                                        {% endfor %}
                                    </select>
                                </div>                             
                                <div class="text-center">
                                    <button type="submit" class="btn btn-vk">Сохранить изменения</button>
                                </div>                             
                            </form>
                        </div>
                    </div> <!-- /panel -->

                    <div class="panel panel-primary topindent">
                        <div class="panel-heading">Информация для плательщика</div>
                        <div class="panel-body">
                            <form role="form" id="form_texts" data-toggle="validator"> 
                                <input type="hidden" name="{{csrf.name}}" value="{{csrf.hash}}">
                                <div class="form-group"> 
                                    <label class="control-label" for="ttmode">Текст сверху над формой оплаты</label>              
                                    <select class="form-control formtextsize" name="ttmode" id="ttmode">
                                        {% for key, text in toptext.formsetup %}
                                        <option value="{{key}}" {{ key == settings.ttmode ? 'selected' }}>{{text}}</option>
                                        {% endfor %}
                                    </select>
                                </div>                             
                                <div class="form-group"> 
                                    <label class="control-label {{ settings.ttmode != 'main' ? 'hidden' }}" for="toptext" id="toptext_label">Общий текст сверху на всех вкладках</label>
                                    <textarea class="form-control formtextsize {{ settings.ttmode != 'main' ? 'hidden' }}" rows="3" name="toptext" id="toptext" {{ settings.ttmode != 'main' ? 'disabled' }} maxlength="{{tablimits.ttmax}}" data-error="Длина текста не должна превышать {{tablimits.ttmax}} знаков">{{settings.toptext}}</textarea>
                                    <div class="help-block with-errors"></div>
                                </div>
                                <hr />
                                <div class="form-group"> 
                                    <label class="control-label" for="btmode">Текст снизу под формой оплаты</label>              
                                    <select class="form-control formtextsize" name="btmode" id="btmode">
                                        {% for key, text in bottomtext.formsetup %}
                                        <option value="{{key}}" {{ key == settings.btmode ? 'selected' }}>{{text}}</option>
                                        {% endfor %}
                                    </select>
                                </div>                             
                                <div class="form-group"> 
                                    <label class="control-label {{ settings.btmode != 'main' ? 'hidden' }}" for="bottomtext" id="bottomtext_label">Общий текст снизу на всех вкладках</label>
                                    <textarea class="form-control formtextsize {{ settings.btmode != 'main' ? 'hidden' }}" rows="3" name="bottomtext" id="bottomtext" {{ settings.btmode != 'main' ? 'disabled' }} maxlength="{{tablimits.btmax}}" data-error="Длина текста не должна превышать {{tablimits.btmax}} знаков">{{settings.bottomtext}}</textarea>
                                    <div class="help-block with-errors"></div>
                                </div>
                                <div class="text-center">
                                    <button type="submit" class="btn btn-vk">Сохранить изменения</button>
                                </div>                             
                            </form>
                        </div>
                    </div> <!-- /panel -->

                </div> <!-- /col -->
            </div> <!-- /row -->
        </div> <!-- /setup-container -->

    </div> <!-- /container -->

{% include 'footer.admin.twig' %}

{% include 'inc.vkdata-ym.twig' %}
{% include 'inc.metrika.twig' %}

</body>
</html>