<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Редактор вкладок оплаты</title>
    {% include 'header.admin.twig' %}
    <script type="text/javascript">{% include 'resizewindow.min.js' %}</script>
    <script type="text/javascript">{% include 'alerts.min.js' %}</script>
    <script type="text/javascript">{% include 'notifyconfig.min.js' %}</script>
    <script type="text/javascript">{% include 'tabedit.min.js' %}</script>
</head>

<body>
    {% include 'inc.navbar.twig' %}

    <div class="container">

        {% include 'inc.alerts.twig' %}

        <div id="tabeditbody">
            {% include 'tabeditbody.twig' %}
        </div>

    </div> <!-- /container -->

{% include 'footer.admin.twig' %}

{% include 'inc.vkdata-ym.twig' %}
{% include 'inc.metrika.twig' %}
 
</body>
</html>