{% set tabtitle_tooltip = 'data-toggle="tooltip" data-placement="top" title="Эта вкладка не будет показана пользователям из-за ограничений вашего тарифа"' %}
{% set optslock_tooltip = 'class="text-muted tooltip-red" data-toggle="tooltip" data-placement="top" title="Эта опция недоступна на вашем тарифе"' %}

<ul class="nav nav-tabs">
    {% for parent in tabs %}
        {% set thistab = parent %}
        {% set mixid = thistab.tid ~ '-' ~ thistab.parenttid %}
        <li class="{{thistab.active ? 'active'}} {{thistab.exceed ? 'tooltip-red'}}" {{thistab.exceed ? tabtitle_tooltip|raw}}>
            <a id="tabtitle{{mixid}}" {{thistab.exceed ? 'class="title-exceed blink-red"'}} href="#tab{{mixid}}" data-toggle="tab">{{thistab.title}}</a>
        </li>
    {% endfor %}
</ul>
<div class="tab-content">
    {% for parent in tabs %}
        {% set thistab = parent %}
        {% set mixid = thistab.tid ~ '-' ~ thistab.parenttid %}
        {% set qtytabs = tabs|length %}

        <div class="tab-pane {{thistab.active ? 'active'}}" id="tab{{mixid}}">
            {% include 'inc.editcontrol.twig' %}

            {% if parent.child %}
                <ul class="nav nav-tabs topindent">
                    {% for child in parent.child %}
                        {% set thistab = child %}
                        {% set mixid = thistab.tid ~ '-' ~ thistab.parenttid %}
                        <li class="{{thistab.active ? 'active'}} {{thistab.exceed ? 'tooltip-red'}}" {{thistab.exceed ? tabtitle_tooltip|raw}}>
                            <a id="tabtitle{{mixid}}" {{thistab.exceed ? 'class="title-exceed blink-red"'}} href="#tab{{mixid}}" data-toggle="tab">{{thistab.title}}</a>
                        </li>
                    {% endfor %}
                </ul>
                <div class="tab-content">
                    {% for child in parent.child %}
                        {% set thistab = child %}
                        {% set mixid = thistab.tid ~ '-' ~ thistab.parenttid %}
                        {% set qtytabs = parent.child|length %}
                        
                        <div class="tab-pane {{thistab.active ? 'active'}}" id="tab{{mixid}}">
                            {% include 'inc.editcontrol.twig' %}
                            {% include 'inc.editform.twig' %}
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                {% include 'inc.editform.twig' %}
            {% endif %}
        </div>

    {% endfor %}
</div>
