<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Благодарим за оплату!</title>
    {% include 'header.std.twig' %}
</head>

<body>

    <div class="container text-center">

        <br><br><br>
        <p class="lead">Благодарим за оплату!</p>
        <br>
        <p>Нажмите, чтобы вернуться обратно:</p>
        <a class="btn btn-vk" href="{{backurl}}" role="button">{{button}}</a>

    </div> <!-- /container -->

{% include 'footer.std.twig' %}

{% if metrikaon %}
    <script type="text/javascript">
        var userdata = {userid: "{{data.userid}}"};
        var visitdata = {group: "{{data.group}}", amount: "{{data.amount}}", comment: "{{data.comment}}", referrer: "{{data.referrer}}"};
    </script>
    {% include 'inc.metrika.twig' %}
{% endif %}

</body>
</html>