<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Ошибка</title>
    {% include 'header.std.twig' %}
    <script type="text/javascript"> {% include 'resizewindow.min.js' %} </script>
</head>

<body>
    <div class="container">

        <br /><br />
        {% include 'inc.alerts.twig' %}

    </div> <!-- /container -->

{% include 'footer.std.twig' %}

<script type="text/javascript"> var userdata = {}; var visitdata = {}; </script>
{% include 'inc.metrika.twig' %}

</body>
</html>