<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Универсальная касса</title>
    {% include 'header.std.twig' %}
    <script type="text/javascript"> {% include 'resizewindow.min.js' %} </script>
    <script type="text/javascript"> {% include 'alerts.min.js' %} </script>
</head>

{% set tablocked = 'Отображение платёжной формы заблокировано!' %}
<body>
    {% include 'inc.navbar.twig' %}

    <div class="container topindent">

        {% include 'inc.alerts.twig' %}

        <ul class="nav nav-tabs">
            {% for parent in tabs %}
                {% set thistab = parent %}
                {% set mixid = thistab.tid ~ '-' ~ thistab.parenttid %}
                <li class="{{thistab.active ? 'active'}}">
                    <a id="tabtitle{{mixid}}" href="#tab{{mixid}}" data-toggle="tab">{{thistab.title}}</a>
                </li>
            {% endfor %}
        </ul>
        <div class="tab-content">
            {% for parent in tabs %}
                {% set thistab = parent %}
                {% set mixid = thistab.tid ~ '-' ~ thistab.parenttid %}

                <div class="tab-pane {{thistab.active ? 'active'}}" id="tab{{mixid}}">
                
                    {% if thistab.exceed %}
                        <p class="text-center text-muted topindent-big">{{tablocked}}</p>
                    {% elseif thistab.child is not defined %}
                        {% include 'inc.payform.twig' %}
                    {% else %}
                        <!-- begin enclosed tab lvl #2 -->
                        <ul class="nav nav-tabs topindent">
                            {% for child in parent.child %}
                                {% set thistab = child %}
                                {% set mixid = thistab.tid ~ '-' ~ thistab.parenttid %}
                                <li class="{{thistab.active ? 'active'}}">
                                    <a id="tabtitle{{mixid}}" href="#tab{{mixid}}" data-toggle="tab">{{thistab.title}}</a>
                                </li>
                            {% endfor %}
                        </ul>
                        <div class="tab-content">
                            {% for child in parent.child %}
                                {% set thistab = child %}
                                {% set mixid = thistab.tid ~ '-' ~ thistab.parenttid %}

                                <div class="tab-pane {{thistab.active ? 'active'}}" id="tab{{mixid}}">
                                    {% if thistab.exceed %}
                                        <p class="text-center text-muted topindent-big">{{tablocked}}</p>
                                    {% else %}
                                        {% include 'inc.payform.twig' %}
                                    {% endif %}
                                </div>
                            {% endfor %}
                        </div>
                        <!-- /end enclosed tab lvl #2 -->
                    {% endif %}
                
                </div>

            {% endfor %}
        </div> <!-- /tab-content lvl #1 -->
        
        {% if advertise %}
            <hr />
            <div>
                <p>Установите это приложение в своё сообщество и <strong>принимайте оплату за любые свои товары или услуги</strong>.</p>
                <p>Платёжные формы и вкладки с описанием услуг гибко настраиваются под ваши требования. 
                Принимайте оплату от ваших клиентов с пластиковых карт, Яндекс.Денег, со счёта телефона.</p>
                <a class="btn btn-vk" href="https://vk.com/add_community_app?aid=6088074" target="_blank">Подключить приложение</a>
            </div>
        {% endif %}

    </div> <!-- /container -->

{% include 'footer.std.twig' %}

{% include 'inc.vkdata-ym.twig' %}
{% include 'inc.metrika.twig' %}

</body>
</html>